.app {
  text-align: center;
}

.jsonContent {
  border-radius: 4px;
  background-color: #CCC;
  text-align: left;
  padding: 1em;
  font-size: 60%;
  font-family: monospace;
}

.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333333;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
